## Antes de proceder a la carga de los archivos se debe realizar la revision y normalizacion de estos

### NOTA

Antes de crear el codigo para unir los archivos con pandas y glob se debe realizar un analisis
de los archivo txt y pasarlos a csv manualmente, tener en cuenta las columnas tipo numericas
se debe convertir a celdas calculables reemplazando el punto por la coma

In [2]:
import pandas as pd
from glob import glob as gg #ayuda a la carga de multiples archivos

consolidadoCartera = []
for i in gg('car*.xlsx'): #se crea un for para que busque y recorra los archivos
    dfconso = pd.read_excel(i)#lee cada archivo recorrido
    consolidadoCartera.append(dfconso)#agrega a la lista los archivos encontrados
dfconso = pd.concat(consolidadoCartera)#concatena los archivos encontrados

In [3]:
dfconso.head()

,regional,zonal,mo_oficina,mo_nombre_oficina,Banca_cliente,Saldo_total,Saldo_vencido,Obligaciones_Total,Obligaciones_vencidas,mo_fecha_de_proceso,año
0,Antioquia,Antioquia Apartado,1325.0,CHIGORODO,PERSONAL,3.694634e+09,7.978136e+07,467,27,2020-12-31,2020
1,Antioquia,Antioquia Apartado,1326.0,MUTATA-ANTIOQUIA,PERSONAL,1.259339e+09,8.230586e+07,229,19,2020-12-31,2020
2,Antioquia,Antioquia Apartado,1332.0,TURBO,PERSONAL,2.807752e+09,1.093255e+08,303,20,2020-12-31,2020
3,Antioquia,Antioquia Apartado,1352.0,APARTADO,PERSONAL,2.954922e+09,3.743544e+08,517,57,2020-12-31,2020
4,Antioquia,Antioquia Apartado,1446.0,NECOCLI,PERSONAL,3.218141e+09,1.548929e+08,359,31,2020-12-31,2020

In [4]:
dfconso.columns

Index(['regional', 'zonal', 'mo_oficina', 'mo_nombre_oficina', 'Banca_cliente',
       'Saldo_total', 'Saldo_vencido', 'Obligaciones_Total',
       'Obligaciones_vencidas', 'mo_fecha_de_proceso', 'año'],
      dtype='object')

In [5]:
#vista general de los datos
dfconso.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1578 entries, 0 to 789
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   regional               1578 non-null   object
 1   zonal                  1578 non-null   object
 2   mo_oficina             1578 non-null   float64
 3   mo_nombre_oficina      1578 non-null   object
 4   Banca_cliente          1578 non-null   object
 5   Saldo_total            1578 non-null   float64
 6   Saldo_vencido          1578 non-null   float64
 7   Obligaciones_Total     1578 non-null   int64
 8   Obligaciones_vencidas  1578 non-null   int64
 9   mo_fecha_de_proceso    1578 non-null   datetime64[ns]
 10  año                    1578 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 147.9+ KB

## Nota en caso que aplique

En la consulta anterior se observa que las columnas Saldo_total y Saldo_vencido son de tipo objeto

Se deben transformar a tipos de datos numericos para porder realizar cálculos matematcos

In [6]:
dfconso['Saldo_total'] = dfconso['Saldo_total'].astype('int64')
dfconso['Saldo_vencido'] = dfconso['Saldo_vencido'].astype('int64')
dfconso['Obligaciones_vencidas'] = dfconso['Obligaciones_vencidas'].astype('int64')

In [7]:
dfconso.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1578 entries, 0 to 789
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   regional               1578 non-null   object
 1   zonal                  1578 non-null   object
 2   mo_oficina             1578 non-null   float64
 3   mo_nombre_oficina      1578 non-null   object
 4   Banca_cliente          1578 non-null   object
 5   Saldo_total            1578 non-null   int64
 6   Saldo_vencido          1578 non-null   int64
 7   Obligaciones_Total     1578 non-null   int64
 8   Obligaciones_vencidas  1578 non-null   int64
 9   mo_fecha_de_proceso    1578 non-null   datetime64[ns]
 10  año                    1578 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 147.9+ KB

## Sumas totales

In [8]:
dfconso['Saldo_total'].sum()

3230421930557

In [31]:
#cálculo saldos totales por region y año
totales = dfconso.groupby(['regional', 'año']).sum()
totales
#totales.to_excel('TotalesSaldos.xlsx')

                  mo_oficina   Saldo_total  Saldo_vencido  Obligaciones_Total  \
regional    año
Antioquia   2020    240152.0  361957525238    17984737495               47499
            2021    242923.0  277111012572    10466028184               24844
Bogotá      2020    466499.0  375212155175    21834829293               51408
            2021    466499.0  263986630515    10963887054               19412
Cafetera    2020    269284.0  115054484609     5349288470               17848
            2021    269284.0   84339028020     3119897954                8981
Costa       2020    297886.0  161641454561    16853216703               22373
            2021    297886.0  124904496473     8736164302               11939
Occidente   2020    440698.0  212519664301    11922633980               37204
            2021    440698.0  129934477146     5104330258               13204
Oriente     2020    312611.0  250159192367     8886505430               42208
            2021    312611.0  128153306538     2852941316               11884
Santanderes 2020    426487.0  181675772112    10167024866               26998
            2021    426487.0  106433133503     4100888488                9673
Sur         2020    619144.0  298906655635    25618299047               62656
            2021    619144.0  158432941792     8189539211               15240

                  Obligaciones_vencidas
regional    año
Antioquia   2020                   3519
            2021                   1409
Bogotá      2020                   3866
            2021                   1077
Cafetera    2020                   1442
            2021                    509
Costa       2020                   3099
            2021                   1343
Occidente   2020                   3118
            2021                    672
Oriente     2020                   2042
            2021                    506
Santanderes 2020                   2179
            2021                    594
Sur         2020                   7819
            2021                   1170

In [10]:
#Guargar el dataframe con los totales
dftotales=pd.read_excel('TotalesSaldos.xlsx')
dftotales.head()

,regional,año,mo_oficina,Saldo_total,Saldo_vencido,Obligaciones_Total,Obligaciones_vencidas
0,Antioquia,2020,240152,361957525238,17984737495,47499,3519
1,NaN,2021,242923,277111012572,10466028184,24844,1409
2,Bogotá,2020,466499,375212155175,21834829293,51408,3866
3,NaN,2021,466499,263986630515,10963887054,19412,1077
4,Cafetera,2020,269284,115054484609,5349288470,17848,1442

In [12]:
dftotales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   regional               8 non-null      object
 1   año                    16 non-null     int64
 2   mo_oficina             16 non-null     int64
 3   Saldo_total            16 non-null     int64
 4   Saldo_vencido          16 non-null     int64
 5   Obligaciones_Total     16 non-null     int64
 6   Obligaciones_vencidas  16 non-null     int64
 7   ICV                    16 non-null     float64
dtypes: float64(1), int64(6), object(1)
memory usage: 1.1+ KB

In [14]:
#Cálcular ICV(Indicador de cartera vencida) =  Saldo vencido / saldo total
dftotales['ICV'] = dftotales['Saldo_vencido']/dftotales['Saldo_total']
dftotales.fillna('')

,regional,año,mo_oficina,Saldo_total,Saldo_vencido,Obligaciones_Total,Obligaciones_vencidas,ICV
0,Antioquia,2020,240152,361957525238,17984737495,47499,3519,0.049687
1,,2021,242923,277111012572,10466028184,24844,1409,0.037768
2,Bogotá,2020,466499,375212155175,21834829293,51408,3866,0.058193
3,,2021,466499,263986630515,10963887054,19412,1077,0.041532
4,Cafetera,2020,269284,115054484609,5349288470,17848,1442,0.046494
5,,2021,269284,84339028020,3119897954,8981,509,0.036992
6,Costa,2020,297886,161641454561,16853216703,22373,3099,0.104263
7,,2021,297886,124904496473,8736164302,11939,1343,0.069943
8,Occidente,2020,440698,212519664301,11922633980,37204,3118,0.056101
9,,2021,440698,129934477146,5104330258,13204,672,0.039284
10,Oriente,2020,312611,250159192367,8886505430,42208,2042,0.035523
11,,2021,312611,128153306538,2852941316,11884,506,0.022262
12,Santanderes,2020,426487,181675772112,10167024866,26998,2179,0.055962
13,,2021,426487,106433133503,4100888488,9673,594,0.038530
14,Sur,2020,619144,298906655635,25618299047,62656,7819,0.085707
15,,2021,619144,158432941792,8189539211,15240,1170,0.051691

In [29]:
dftotales[['regional', 'año', 'ICV']].fillna('')

       regional   año       ICV
0     Antioquia  2020  0.049687
1                2021  0.037768
2        Bogotá  2020  0.058193
3                2021  0.041532
4      Cafetera  2020  0.046494
5                2021  0.036992
6         Costa  2020  0.104263
7                2021  0.069943
8     Occidente  2020  0.056101
9                2021  0.039284
10      Oriente  2020  0.035523
11               2021  0.022262
12  Santanderes  2020  0.055962
13               2021  0.038530
14          Sur  2020  0.085707
15               2021  0.051691